@font-face {
    font-family: 'Emrys';
    src: url('https://msaucedoe.github.io/skincosmic/EmrysRegular.eot');
    src: url('https://msaucedoe.github.io/skincosmic/EmrysRegular.eot?#iefix') format('embedded-opentype'),
        url('https://msaucedoe.github.io/skincosmic/EmrysRegular.woff2') format('woff2'),
        url('https://msaucedoe.github.io/skincosmic/EmrysRegular.woff') format('woff'),
        url('https://msaucedoe.github.io/skincosmic/EmrysRegular.ttf') format('truetype'),
        url('https://msaucedoe.github.io/skincosmic/EmrysRegular.svg#EmrysRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
